<nav class="browserSize--g3 browserSize--g4">
  <ul class="gel-wrap">
    {{#navLinks}}
      <li class="navLink__{{pageLink}}"><a class="ipl-canary lnk" href="{{pageLink}}.html">{{pageTitle}}</a></li>
    {{/navLinks}}
  </ul>
</nav>
<nav class="toggleNav browserSize--g1 browserSize--g2">
  <div class="toggleNavBtn ipl-canary lnk">Menu</div>
  <div id="subnav">
  <ul>
    {{#navLinks}}
      <li class="navLink__{{pageLink}}"><a class="ipl-canary lnk" href="{{pageLink}}.html">{{pageTitle}}</a></li>
    {{/navLinks}}
  </ul>
</div>
</nav>
