<tr>
  <td class="ipl-skylark-bold">{{typeSize}}</td>
  <td class="ipl-canary">{{usedFor}}</td>
  <td class="ipl-canary">{{typeSettings.g1}}</td>
  <td class="ipl-canary">{{typeSettings.g2}}</td>
  <td class="ipl-canary">{{typeSettings.g3}}</td>
</tr>
